<div class="d-flex">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
  <!-- End Sidebar -->
  <div class="container">
    <div class="row p-3">
      <div class="col">
        <h5>Buscar:</h5>
        <input type="text" class="form-control" placeholder="Buscar gifs...">
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem quas adipisci iure quia dicta! Nesciunt deleniti
        culpa laboriosam perspiciatis est ut architecto reiciendis sunt consequatur eaque, magni, ipsa aliquid error!
      </div>
    </div>
  </div>
</div>